body{
background-image: url("frac.gif");
background-size: 100vw;
background-color: #8FCBFF;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
        color: #FFDD15;
    transition-duration: .5s;
}

a.header {
	color: black;

}
/*a:hover {
	text-decoration: underline;
	color: yellow;
}
*/
/*.header { 
}
.header:hover{

  -webkit-animation: head 5s infinite;  Safari 4+
}
*/
/*@-webkit-keyframes head {
  0%  { color: red;}
  25% { color: purple;}
  50% { color: green;}
  75% { color: blue;}
  100% { color: red;}

}
*/

.container:hover .overlay {
  opacity: 1;
}
p {
	padding-left: 1.2vw;
	margin-top: 0vw;
	margin-bottom: 3vw;
	font-family: courier;
	font-size: 1.3vw;
	column-count: 3;
	width: 100vw;
}

h1 {
	  margin-top: 0px;
	  left: 20px;
	font-size: 5vw;
	font-family: courier;
	color: black;
	text-shadow:1px 1px 10px #FFDD15, 1px 1px 10px #FFDD15;
	position: relative;
	cursor: default;
	transition-duration: 1s;
	width: 60vw;
}

h1:hover {
			text-decoration: line-through;

}

h3 {
	margin-top: -100px;
	right: 100px;
	position: fixed;
	font-size: 4vw;
	color: black;
	font-family: courier;

}
h2 {
	font-size: 2.5vw;
	color: #FFDD15;
	background-color: black;
	font-family: courier;
	float: left; 
	padding: 10px;
	margin-bottom: -10px;
	transition-duration: 1s;
}
h2:hover {
	text-decoration: line-through;
}

.wrapper {
	position: fixed;
	margin-bottom: -10vw;
	left: 20px;
	width: 5vw;

}

.contain {
column-count:3;
position: relative;
margin-top: 0vw;
margin-left: 30%;
right: 10px;

}

.contain-detail {
position: relative;
margin-top: 0vw;
margin-left: 30%;

}

.about-text {
	font-family: courier;
	color: black;
	background-color: #FFDD15;
position: relative;
margin-top: 0vw;
width: 60vw;
margin-left: 30%;
font-size: 2vw;
padding-left: 10px;


}

.line {
	width: 100%;
	height: 20px;
	color: red;
	margin-top: 20px;

}
.img {
	width: 20vw;
	padding:1vw;
	transition-duration: .2s;
}
.img:hover {
	filter: contrast(1.25);
	}


.img-detail {
	width: 30vw;
	padding: 1vw;
}	


	#tfnewsearch{
		float:right;
		padding:20px;
		position: fixed;
		margin-top: 150px;
		left: 0px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid black; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #FFDD15;
		border: solid 1px black; border-right:0px;
		background: black;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #FFDD15;
		color: black;

	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
@media screen and (max-width: 720px) {

.contain {
column-count:1;
right: -2vw;
}
.img {
	width: 50vw;
	padding:1vw;
	transition-duration: .2s;
}

}

